#policies-page {
  .cards {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 24px;
  }

  .rules-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--mathsoc-pink);
    color: white;
    padding: 8px;
    height: 250px;
    transition: var(--transition);
    font-family: var(--title-font);
    font-weight: 300;

    .rules-icon {
      $size: 80px;
      width: $size;
      height: $size;
      padding-top: 48px;
      margin: auto;
    }

    .gap {
      flex-grow: 1;
    }

    .name {
      font-size: 1.2rem;
    }

    .description,
    .last-updated {
      font-size: 0.7rem;
    }

    .last-updated {
      margin-top: 16px;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--mathsoc-pink-2);
    }
  }
}
