@use "../../sass-mixins" as *;

#footer {
  background-color: var(--mathsoc-pink);
  color: white;
  position: relative;
  min-height: 175px;
  padding: 0px 150px;

  #inner-footer {
    max-width: var(--content-width);
    margin: auto;
  }

  @include tablet-down {
    flex-direction: column;
    padding: 0px 50px;
  }

  b {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;

    @include tablet-down {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  hr {
    border: none;
    height: 2px;
    background-color: #cdd1d4;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include phone-down {
      text-align: center;
      width: 100%;
      flex-grow: 1;
      justify-content: center;
    }
  }

  .bottom {
    @include phone-down {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .link-section,
  .social-section {
    @include phone-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
    }
  }

  .link-section {
    display: flex;
    align-items: center;
    gap: 50px;

    @include phone-down {
      flex-grow: 1;
      gap: 24px;
    }
  }

  .link-section a {
    color: white;
    text-decoration: none;
  }

  .socials {
    display: flex;
    gap: 16px;
    padding-top: 8px;

    @include phone-down {
      flex-direction: column;
    }

    .social-icon {
      $size: 32px;
      width: $size;
      height: $size;
      color: white;
    }
  }

  #admin-footer-content {
    display: flex;
    padding: 16px;
  }
}
