#cnd-page {
  #daily-special {
    color: white;
    text-align: center;

    h1 {
      color: white;
    }

    .special-prefix {
      font-size: 0.8em;
    }

    .special {
      font-size: 3em;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}
