@mixin tablet-down() {
  @media only screen and (max-width: 980px) {
    @content;
  }
}

@mixin phone-down() {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin title-font() {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 300;
}
