@use "sass-mixins" as *;

#homepage {
  text-align: center;

  h1 {
    color: white;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-width);
    margin: auto;

    gap: 45px;
    z-index: 1;
    position: relative;

    color: var(--inverted-text-color);

    .section-head {
      font-size: 2.5em;
    }

    #logo {
      display: block;
      text-align: center;
      width: 80vw;
    }
  }

  .homepage-buttons,
  .social-buttons {
    display: flex;
    gap: 60px;
    text-decoration: none;

    @include tablet-down {
      flex-direction: column;
      gap: 10px;
    }
  }

  .homepage-buttons {
    .homepage-button {
      padding: 16px 60px;
      color: var(--inverted-text-color);
      border: 1px solid var(--inverted-text-color);
      text-decoration: none;
      transition: 0.15s linear;

      &:hover,
      &:focus {
        background-color: white;
        color: var(--mathsoc-pink);
      }
    }
  }

  .social-buttons {
    display: flex;
    height: 100px;

    .social-button {
      color: var(--inverted-text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 5px;
      height: 100px;

      .social-icon {
        margin-bottom: 10px;
        height: 40px;
      }
    }
  }
}

#navbar {
  position: absolute;
  z-index: 5;

  #inner-navbar {
    .nav-logo-container {
      display: none;
    }

    .dropdown-button {
      color: var(--inverted-text-color);

      &:hover,
      &:focus-visible {
        color: var(--mathsoc-pink);
      }
    }
  }
}

body {
  background-color: var(--mathsoc-pink);
}

#footer {
  background-image: none;
}
