@use "../../sass-mixins" as *;

.button,
a.button,
a.button:visited {
  padding: 16px 60px;
  color: white;
  border: 1px solid white;
  text-decoration: none !important;
  transition: 0.15s linear;
  margin: 16px;
  display: block;

  @include title-font;

  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: white;
    color: var(--mathsoc-pink);

    a,
    a:visited {
      color: var(--mathsoc-pink);
    }
  }
}
