@use "../../sass-mixins" as *;

.button {
  padding: 16px 60px;
  color: white;
  &:visited {
    color: white;
  }
  border: 1px solid white;
  text-decoration: none;
  transition: 0.15s linear;
  margin: 16px;
  display: block;

  @include title-font;

  &:hover,
  &:focus {
    background-color: white;
    color: var(--mathsoc-pink);
  }
}
